.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-10%);
    gap: 2.5rem;
    text-align: center;
    height: 100%;
}

.header h4 {
    max-width: 80%;
}

.heading-line-first,
.heading-line-second,
.heading-line-third,
.heading-line-forth {
    overflow: hidden;
}

.heading-line-first__inner,
.heading-line-second__inner,
.heading-line-third__inner,
.heading-line-forth__inner {
    display: inline-block;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem;
}

.logo {
    width: 7rem;
}

.socials {
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    align-items: center;
}

.socials > a,
.down-arrow {
    font-size: 3.5rem;
    color: var(--primary-color);
    background: var(--bg-color);
}

.socials > a:hover,
.scroll-down:hover,
.socials > a:active,
.scroll-down:active {
    color: var(--hover-color);
}
.socials > a:focus,
.scroll-down:focus {
    outline: 1 px solid var(--secondary-color);
}

/********************
    Call to action links
*********************/
.cta-links {
    width: 100%;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0 3rem;
}

/*************************************
           Scroll Down
**************************************/

.header__scroll {
    position: absolute;
    bottom: 2%;
}

.scroll-down {
    background: transparent;
    font-size: 1.6rem;
    color: var(--primary-color);
    transition: var(--transition);
}

.scroll-down:focus,
.scroll-down:active {
    outline: 0;
}

.down-arrow {
    background: transparent;
    margin-top: 0.5rem;
    animation: scrollDown 2.5s ease-in-out infinite;
}

@keyframes scrollDown {
    0% {
        opacity: 0.7;
        transform: translateY(0);
    }

    25% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.9;
        transform: translateY(1.5rem);
    }

    100% {
        opacity: 0.8;
        transform: translateY(0);
    }
}

/*******************************************
Media Queries for Medium Devices
********************************************/

@media screen and (max-width: 1024px) {
    .header h4 {
        max-width: 100%;
    }
}

/*******************************************
 Media Queries for Small Devices
********************************************/

@media screen and (max-width: 650px) {
    html {
        font-size: 58%;
    }

    h1 {
        font-size: 4.5rem;
    }

    .logo {
        width: 4rem;
    }

    .cta-links {
        gap: 1.5rem;
    }
}

@media screen and (max-height: 590px) {
    .header__scroll {
        display: none;
    }
}

@media screen and (max-height: 860px) {
    .header__scroll {
        bottom: 5%;
    }
}
